.container h2 {
  text-align: center;
  margin: 30px 0;
}

.container .inputBox {
  border: 1px solid #d9d9d9;
  padding: 50px 30px;
  margin-bottom: 100px;
}

.container .inputBox label {
  font-weight: 700;
}

.container .inputBox .selectProject {
  margin-bottom: 30px;
}

.container .inputBox #titleBox {
  height: 30px;
  resize: none;
  width: 100%;
  padding: 10px 30px;
  outline: none;
  display: block;
  margin-bottom: 30px;
  padding: 10px;
}

.container .inputBox #contentBox {
  height: 450px;
  width: 100%;
  outline: none;
  padding: 10px;
  line-height: 1.5;
}

.container .inputBox #okBtn {
  padding: 10px 15px;
  border: 1px solid #333;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

.container .inputBox #okBtn:hover {
  background-color: #333;
  color: #fff;
}
