.container {
  min-height: 100vh;
}

.container .title {
  margin-top: 100px;
  text-align: center;
}

.container .title h2 {
  margin-bottom: 5px;
}

.container .title .desc {
  font-size: 2.0rem;
}

.container .title .desc02 {
  margin-top: 30px;
  font-size: 3.0rem;
}

.container .others {
  width: 100%;
  height: 100%;
}

.container .others .input {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.container .others .list {
  padding-left: 60px;
  margin: 50px 0;
}

.container .others .list li {
  padding: 5px;
  display: inline-block;
  width: 630px;
  height: 200px;
  margin: 15px;
  border: 1px solid #FFCC4A;
  position: relative;
}

.container .others .list li .imgBox {
  width: 40%;
  height: 190px;
  overflow: hidden;
}

.container .others .list li .imgBox img {
  width: 100%;
  height: 200px;
}

.container .others .list li .txtBox {
  position: absolute;
  top: 0;
  left: 40%;
  height: 100%;
  padding: 20px;
}

.container .others .list li .txtBox .nick {
  font-size: 1.2rem;
  margin-bottom: 5px;
  position: relative;
}

.container .others .list li .txtBox .content {
  font-size: 1.8rem;
  color: #000;
}

.container .others .list li .txtBox button {
  cursor: pointer;
  position: absolute;
  left: 20px;
  bottom: 20px;
  padding: 5px 20px 5px 15px;
  background-color: #FFCC4A;
  border-radius: 10px;
  font-size: 18px;
}

.container .others .list li .txtBox button span {
  font-size: 16px;
  margin-left: 10px;
}
