.container {
    min-height: 100vh;
    .inner {
        width: 100%;
        background-color: #FFCC4A;
        height: 300px;
        text-align: center;
        position: relative;
        .imgBox {
            width: 200px;
            height: 200px;
            text-align: center;
            border-radius: 10%;
            background-color: #d9d9d9;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
            }
            button {
                position: absolute;
                border-radius: 100px;
                width: 35px;
                height: 35px;
                background-color: rgba(255, 255, 255, 0.5);
                color: #444;
                right: 10px;
                bottom: 10px;
                font-size: 1.2rem;
                cursor: pointer;
                border: 1px solid #d9d9d9;
                display: none;
            }
        }
        input {
            position: absolute;
            left: 50%;
            bottom: 10px;
            opacity: 0;
        }
        .edtBtns {
            position: absolute;
            right: 10px;
            bottom: 10px;
            button {
                padding: 5px 10px;
                margin-left: 10px;
                border-radius: 10px;
                background-color: rgba(255, 255, 255, 0.5);
                border: 1px solid #fff;
                font-size: 1.3rem;
            }
        }
    }
    .infoBox {
        margin-top: 50px;
        text-align: center;
        .nickBox {
            position: relative;
            display: inline-block;
            .nick {
                font-size: 2.4rem;
                display: none;
                &.on {
                    display: inline-block;
                }
            }
            input {
                display: none;
                height: 35px;
                padding: 5px;
                &.on {
                    display: block;
                }
            }
            button {
                position: absolute;
                font-size: 1.2rem;
                background-color: #d9d9d9;
                padding: 0 5px;
                border-radius: 10px;
                right: -40px;
                bottom: 10px;
                display: none;
            }
        }
        .email {
            color: #666;
            font-size: 1.6rem;
        }
    }
    .projectList {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 150px;
        .projectTitleTxt {
            font-size: 2.4rem;
            font-weight: 700;
            margin-bottom: 30px;
        }
        .tabMenu {
            display: inline-block;
            padding: 15px 30px 30px;
            font-size: 1.6rem;
            position: relative;
            &:hover {
                &:before{
                    transform: scaleX(1);
                }
            }
            &::before {
                display: block;
                content: "";
                width: 67%;
                height: 2px;
                background-color: #4A9CA2;
                position: absolute;
                bottom: 15px;
                transform: scaleX(0);
                transition: 0.25s ease;
            }
            &.on {
                background-color: #4A9CA2;
                &:hover {
                    &:before{
                        background-color: #fff;
                        transform: scaleX(1);
                    }
                }
            }
        }
        .menuList {
            min-height: 50vh;
            width: 100%;
            background-color: #4A9CA2;
            padding: 30px;
            div {
                background-color: #fff;
                width: 100%;
                height: 100%;
            }
        }
    }
    
}

.popupWrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: none;
    &.show {
        display: block;
    }
}
#popup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    z-index: 9997;
    .title {
        font-size: 2.4rem;
        font-weight: 700;
        padding: 10px;
        margin-bottom: 15px;
        border-bottom: 1px solid #d9d9d9;
    }
    .contents {
        min-height: 300px;
        min-width: 400px;
        background-color: #fff;
        .notice {
            font-size: 1.2rem;
            color: #f00;
            margin-bottom: 25px;
        }
        input {
            display: block;
            height: 30px;
            width: 100%;
            padding: 5px 10px;
        }
    }
    .footer {
        text-align: right;
        padding-top: 10px;
        button {
            display: inline-block;
            padding: 5px 10px;
            border-radius: 10px;
            background-color: #ffcc4ab2;
            color: #333;
            margin-left: 10px;
            &:hover {
                background-color: #ffcc4a;
            }
        }
    }
}

#main.edt {
    .edt {
        display: block;
    }
    .profileEdt {
        display: none;
    }
}