.container {
    min-height: 100vh;
    .title {
        margin-top: 100px;
        text-align: center;
        h2 {
            margin-bottom: 5px;
        }
        .selectBox {
            p {
                display: inline-block;
                margin: 0 5px;
                cursor: pointer;
                &.on {
                    color: #4A9CA2;
                }
            }
            span {
                font-size: 32px;
                padding-left: 10px;
           }
            .desc02 {
                margin-top: 30px;
                font-size: 3.0rem;
            }
        }
    }
    .others {
        display: none;
        width: 100%;
        height: 100%;
        .input {
            width: 100%;
            margin-top: 20px;
            text-align: center;
        }
        .list {
            padding-left: 60px;
            margin: 50px 0;
            li {
                padding: 5px;
                display: inline-block;
                width: 400px;
                height: 200px;
                margin: 15px;
                border: 1px solid #FFCC4A;
                position: relative;
                .imgBox {
                    width: 60%;
                    height: 190px;
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 200px;
                    }
                }
                .txtBox {
                    position: absolute;
                    top: 0;
                    left: 60%;
                    height: 100%;
                    padding: 20px;
                    .nick {
                        font-size: 1.2rem;
                        margin-bottom: 5px;
                        position: relative;
                    }
                    .content {
                        font-size: 1.8rem;
                        color: #000;
                        height: 50px;
                        width: 100px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-break: keep-all;

                    }
                    button {
                        cursor: pointer;
                        position: absolute;
                        left: 20px;
                        bottom: 20px;
                        width: 120px;
                        height: 30px;
                        line-height: 30px;
                        background-color: #FFCC4A;
                        border-radius: 10px;
                        font-size: 18px;
                        span {
                            font-size: 16px;
                          
                              margin-left: 10px;
                        }
                        &.reply {
                            bottom: 60px;
                        }
                    }
                }
            }
        }
    }
    .memberList {
        width: 100%;
        min-height: 100vh;
        display: none;
        margin-top: 50px;
        .list {
            width: 100%;
            height: 100%;
            font-size: 1.8rem;
            li {
                border-bottom: 1px solid #d9d9d9;
                font-size: 1.6rem;
                padding: 15px;
                > div {
                    text-align: center;
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;
                }
                .imgBox {
                    .mask {
                        margin: auto;
                        width: 50PX;
                        height: 50px;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .infoBox {
                    width: calc((100% - 150px)*0.5);
                    p {
                        width: 40%;
                    }
                }
                .progress {
                    width: calc((100% - 150px)*0.4);
                    position: relative;
                    p {
                        width: 40%;
                    }
                }
                p {
                    display: inline-block;
                }
                &:first-child {
                    background-color: #FFCC4A;
                    border-top: 2px solid #333;
                    border-bottom: 2px solid #333;
                    font-size: 1.8rem;
                }
            }
        }
    }
    .on {
        display: block;
    }
}